{% extends 'templates/base.html' %}
{% load static %}
{% load guide_tab %}

{% block head %}
<title>{{ title }}</title>
{% endblock %}

{% block content %}
    <div class="container ui main-content">
        {% guide_tab %}

        {% if guide_revision_obj.status == 'draft' %}

            <form class="ui form mb-4 pb-4" data-uuid="{{ guide_revision_obj.uuid }}">
                <div class="field">
                    <label>Nama Panduan</label>

                    <div class="ui left icon input">
                        <i class="book icon"></i>
                        <input name="label" type="text" value="{{ guide_revision_obj.label }}" required>
                    </div>
                </div>

                <div class="field">
                    <label>Keterangan</label>

                    <div class="ui input">
                        <textarea name="description" required>{{ guide_revision_obj.description }}</textarea>
                    </div>
                </div>

                <div class="field">
                    <label>Changelog</label>

                    <div class="ui input">
                        <textarea name="changelog" rows="3" required>{% if guide_revision_obj.changelog %}{{ guide_revision_obj.changelog }}{% endif %}</textarea>
                    </div>
                </div>

                <div class="ui error message"></div>

                <div class="ui primary button submit mr-auto" data-uuid="{{ guide_revision_obj.uuid }}">
                    <i class="check icon"></i>
                    Submit
                </div>
            </form>

        {% else %}

            <div class="ui icon message warning">
                <i class="exclamation triangle icon"></i>

                <div class="content">
                    <div class="header">
                        Tindakan ditolak
                    </div>

                    <p>Konten yang telah ter-publikasi tidak dapat diperbarui.</p>
                </div>
            </div>
        
        {% endif %}
    </div>
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/form.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/input.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/checkbox.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/label.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/loader.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/modal.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/dimmer.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/transition.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/list.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/tab.min.css' %}">
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'vendors/semantic/components/checkbox.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/semantic/components/form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/semantic/components/modal.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/semantic/components/dimmer.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/semantic/components/transition.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/semantic/components/api.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/semantic/components/tab.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'vendors/js/jquery.serialize-object.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/sweetalert2/dist/sweetalert2.all.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/jquery-ui/jquery-ui.min.js' %}"></script>

    <script type="text/javascript">
        $.fn.api.settings.api = {
            'guides revisions'  : '/api/beacon/guides-revisions/{uuid}/',
        };

        // ...
        // FORM HANDLER
        // ...
        $('.form').form({
            on: 'blur',
            inline: true,
            fields: {
                label: {
                    identifier: 'label',
                    rules: [
                        {
                            type   : 'empty',
                            prompt : 'Nama panduan tidak boleh kosong'
                        },
                        {
                            type   : 'minLength[4]',
                            prompt : 'Nama panduan minimal 4 karakter'
                        }
                    ]
                },
                description: {
                    identifier: 'description',
                    rules: [
                        {
                            type   : 'empty',
                            prompt : 'Keterangan tidak boleh kosong'
                        },
                        {
                            type   : 'minLength[25]',
                            prompt : 'Keterangan minimal 25 karakter'
                        }
                    ]
                },
                changelog: {
                    identifier: 'changelog',
                    rules: [
                        {
                            type   : 'empty',
                            prompt : 'Changelog tidak boleh kosong'
                        }
                    ]
                },
            }
        })
        .api({
            method: 'PATCH',
            action: 'guides revisions',
            serializeForm: true,
            beforeXHR: function(xhr) {
                xhr.setRequestHeader ('X-CSRFToken', Cookies.get('csrftoken'));
                return xhr;
            },
            onSuccess: function(response) {
                if (response.status === 'published') {
                    window.location.replace(response.permalink);
                } else {
                    Swal.fire({
                        icon: 'success',
                        title: 'Berhasil',
                        text: 'Pembaruan berjalan sukses!',
                        allowOutsideClick: false,
                        allowEscapeKey: false,
                    });
                }
            },
            onFailure: function(response) {
                var errorMessage = [];

                $.each(response, function(index, item) {
                    var label = '<span class="text-capitalize font-weight-bold text-danger">' + index + '</span>: ';
                    
                    if (Array.isArray(item)) {
                        errorMessage.push(label + item.join(' '));
                    } else {
                        errorMessage.push(label + item);
                    }
                });

                if (errorMessage.length == 0) errorMessage.push('Terjadi kesalahan. Coba lagi.');

                // Show error
                if (errorMessage) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        html: '<div class="text-center">' + errorMessage.join('<br /><br />') + '</div>',
                    });
                }
            }
        });
    </script>
{% endblock %}