{% extends 'templates/base.html' %}
{% load static %}

{% block head %}
<title>{{ title }}</title>
{% endblock %}

{% block content %}
    <div class="container ui main-content">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-10 col-lg-7 col-xl-5">
                <h1 class="mb-3">Buat Panduan</h1>
   
                <div class="ui icon message warning mb-4">
                    <i class="exclamation triangle icon"></i>
                    <div class="content">
                        <p>Pastikan <strong>penamaan</strong> dan pilihan <strong>kategori</strong> sudah benar.
                        Apapun tindakan setelah proses ini merupakan "Revisi" layaknya sistem
                        <i>Repository Git</i>.</p>
                    </div>
                </div>

                <form class="ui form mb-4 pb-4">
                    <div class="field">
                        <label>Nama Panduan</label>

                        <div class="ui left icon input">
                            <i class="book icon"></i>
                            <input name="label" type="text" required>
                        </div>
                    </div>

                    <div class="grouped fields">
                        <label>Kategori</label>

                        <div class="row m-0">
                            {% for item in categories %}
                                <div class="field col-12 col-sm-6">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="category" value="{{ item.pk }}" required>
                                        <label>{{ item.label }}</label>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="field">
                        <label>Keterangan</label>

                        <div class="ui input">
                            <textarea name="description" required></textarea>
                        </div>
                    </div>

                    <div class="ui error message"></div>

                    <div class="ui primary button submit mr-auto">
                        <i class="check icon"></i>
                        Submit
                    </div>
                </form>
            </div>
        </div>
    </div> <!-- /.container -->
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/form.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/input.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/label.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/loader.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/checkbox.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/message.min.css' %}">
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'vendors/semantic/components/checkbox.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/semantic/components/form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/semantic/components/api.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'vendors/js/jquery.serialize-object.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/sweetalert2/dist/sweetalert2.all.min.js' %}"></script>
    
    <script type="text/javascript">
        $.fn.api.settings.api = {
            'guides create'  : '/api/beacon/guides/',
        };

        $('.checkbox').checkbox();

        // ...
        // FORM HANDLER
        // ...
        $('.form').form({
            on: 'blur',
            fields: {
                label: {
                    identifier: 'label',
                    rules: [
                        {
                            type   : 'empty',
                            prompt : 'Nama panduan tidak boleh kosong'
                        },
                        {
                            type   : 'minLength[4]',
                            prompt : 'Nama panduan minimal 4 karakter'
                        }
                    ]
                },
                category: {
                    identifier: 'category',
                    rules: [
                        {
                            type   : 'checked',
                            prompt : 'Pilih salah satu Kategori'
                        }
                    ]
                },
                description: {
                    identifier: 'description',
                    rules: [
                        {
                            type   : 'empty',
                            prompt : 'Keterangan tidak boleh kosong'
                        },
                        {
                            type   : 'minLength[25]',
                            prompt : 'Keterangan minimal 25 karakter'
                        }
                    ]
                },
            }
        })
        .api({
            method  : 'POST',
            action  : 'guides create',
            serializeForm: true,
            beforeXHR: function(xhr) {
                xhr.setRequestHeader ('X-CSRFToken', Cookies.get('csrftoken'));
                return xhr;
            },
            onSuccess: function(response) {
                Swal.fire({
                    icon: 'success',
                    title: 'Berhasil',
                    text: 'Sedang mengalihkan...',
                    showCloseButton: false,
                    showCancelButton: false,
                    showConfirmButton: false,
                    allowOutsideClick: false,
                    allowEscapeKey: false,
                });

                window.location.replace(response.permalink_update);
            },
            onFailure: function(response) {
                var errorMessage = [];

                $.each(response, function(index, item) {
                    var label = '<span class="text-capitalize font-weight-bold text-danger">' + index + '</span>: ';
                    
                    if (Array.isArray(item)) {
                        errorMessage.push(label + item.join(' '));
                    } else {
                        errorMessage.push(label + item);
                    }
                });

                if (errorMessage.length == 0) errorMessage.push('Terjadi kesalahan. Coba lagi.');

                // Show error
                if (errorMessage) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        html: '<div class="text-center">' + errorMessage.join('<br /><br />') + '</div>',
                    });
                }
            }
        });

        /*
        $(document).on('change', '[name="category"]', function(event) {
            $('.form').form('validate form');
        });

        $(document).on('keyup', '[name="label"], [name="description"]', function(event) {
            $('.form').form('validate form');
        });
        */
    </script>
{% endblock %}
