{% extends 'templates/base.html' %}
{% load static %}
{% load paginator %}

{% block head %}
    <title>{{ title }}</title>
{% endblock %}

{% block content %}
    <div class="container ui main-content">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <table class="ui celled striped table">
                    <thead>
                        <tr>
                            <th colspan="2">
                                Panduan Saya
                            </th>

                            <th colspan="2">
                                <a href="{% url 'guide_initial' %}" class="ui button mini">
                                    <i class="add circle icon"></i>
                                    Panduan
                                </a>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for item in revision_objs %}
                            <tr>
                                <td class="text-wrap">
                                    <p class="mb-0 font-weight-bold">
                                        <a href="{% url 'dashboard_guide_detail' item.revision_uuid %}">{{ item.revision_label }}</a>
                                    </p>
                                    
                                    {% if item.num_revision > 0 and item.upcoming_uuid %}
                                        <p class="mt-1 text-muted">
                                            <i class="icon random"></i>
                                            <a href="{% url 'guide_revision_editor' item.upcoming_uuid %}">{{ item.upcoming_label }}</a>
                                            &mdash; ref. {{ item.upcoming_version }}
                                        </p>
                                    {% endif %}
                                </td>

                                <td class="text-wrap">Rev. {{ item.revision_version }}</td>

                                <td class="text-wrap">
                                    {% if item.explain_date_created >= item.chapter_date_created %}
                                        <a href="{% url 'explain_revision_detail' item.explain_uuid %}">
                                            {{ item.explain_date_created }}
                                        </a>
                                    {% elif item.explain_date_created <= item.chapter_date_created %}
                                        <a href="{% url 'chapter_revision_detail' item.chapter_uuid %}">
                                            {{ item.chapter_date_created }}
                                        </a>
                                    {% else %}
                                        {{ item.date_created }}
                                    {% endif %}
                                </td>

                                <td class="text-wrap" style="width:97px">
                                    <button class="ui icon button red mini">
                                        <i class="trash icon"></i>
                                    </button>

                                    <button type="button" id="update-guide" data-id="1" class="ui icon button blue mini ml-1"
                                        data-revision-uuid="{{ item.revision_uuid }}" data-uuid="{{ item.uuid }}">
                                        <i class="pencil icon"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                {% proper_paginate request paginator revision_objs 2 %}
            </div> <!-- /.col -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/list.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/table.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/menu.min.css' %}">
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'vendors/semantic/components/api.min.js' %}"></script>

    <script type="text/javascript">
        $.fn.api.settings.api = {
            'guides revisions'  : '/api/beacon/guides-revisions/',
        };

        $('#update-guide').api({
            method  : 'POST',
            action  : 'guides revisions',
            beforeXHR: function(xhr) {
                xhr.setRequestHeader ('X-CSRFToken', Cookies.get('csrftoken'));
                return xhr;
            },
            beforeSend: function(settings) {
                settings.data.revision_uuid = $(this).data('revision-uuid');
                settings.data.uuid = $(this).data('uuid');

                return settings;
            },
            onSuccess: function(response) {
                window.location.href = response.permalink;
            }
        });
    </script>
{% endblock %}
