{% extends 'templates/base.html' %}
{% load static %}
{% load paginator %}

{% block head %}
    <title>{{ title }}</title>
{% endblock %}

{% block content %}
    <div class="container ui main-content dashboard">
        <div class="guide-header d-flex w-100 mb-3">
            <h1 class="m-0">Panduan Saya</h1>

            <a href="{% url 'dashboard_guide_initial' %}" class="ui button mini ml-auto">
                <i class="add circle icon"></i>
                Panduan
            </a>
        </div>

        <div class="guide-list mb-4">
            {% for item in revision_objs %}
                <div class="ui message">
                    <div class="row">
                        <div class="col-12 col-sm-9 col-md-10">
                            <div class="header">
                                <a href="{% url 'dashboard_guide_detail' item.revision_uuid %}">{{ item.revision_label }}</a>
                                
                                <div class="ui label">
                                    Ref.
                                    <div class="detail">{{ item.revision_version }}</div>
                                </div>
                            </div>

                            <ul class="list">
                                <li>
                                    Pembaruan 
                                    {% if item.explain_date_created >= item.chapter_date_created %}
                                        <a href="{% url 'explain_revision_detail' item.explain_uuid %}">
                                            {{ item.explain_date_created }}
                                        </a>
                                    {% elif item.explain_date_created <= item.chapter_date_created %}
                                        <a href="{% url 'chapter_revision_detail' item.chapter_uuid %}">
                                            {{ item.chapter_date_created }}
                                        </a>
                                    {% else %}
                                        {{ item.date_created }}
                                    {% endif %}
                                </li>

                                {% if item.num_revision > 1 and item.upcoming_uuid %}
                                    <li>
                                        Refisi
                                        <i class="icon random"></i>
                                        <a href="{% url 'dashboard_guide_detail' item.upcoming_uuid %}">{{ item.upcoming_label }}</a>
                                        &mdash; ref. {{ item.upcoming_version }}
                                    </li>
                                {% endif %}
                            </ul>
                        </div>

                        <div class="col-12 col-sm-3 col-md-2">
                            <div class="w-100 control">
                                <button type="button" id="delete-guide" class="ui icon button red mini" data-uuid="{{ item.uuid }}">
                                    <i class="trash icon"></i>
                                </button>

                                <button type="button" id="update-guide" data-id="1" class="ui icon button blue mini ml-1"
                                    data-revision-uuid="{{ item.revision_uuid }}" data-uuid="{{ item.uuid }}">
                                    <i class="pencil icon"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% proper_paginate request paginator revision_objs 2 %}
    </div> <!-- /.container -->
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/list.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/message.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/label.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'vendors/css/dashboard.css' %}">
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'vendors/semantic/components/api.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/sweetalert2/dist/sweetalert2.all.min.js' %}"></script>

    <script type="text/javascript">
        $.fn.api.settings.api = {
            'guides delete'     : '/api/beacon/guides/{uuid}/',
            'guides revisions'  : '/api/beacon/guides-revisions/',
        };

        // ...
        // Update will redirect to other page
        // This function only create or get a GuideRevision
        // ...
        $('#update-guide').api({
            method  : 'POST',
            action  : 'guides revisions',
            beforeXHR: function(xhr) {
                xhr.setRequestHeader ('X-CSRFToken', Cookies.get('csrftoken'));
                return xhr;
            },
            beforeSend: function(settings) {
                settings.data.revision_uuid = $(this).data('revision-uuid');
                settings.data.uuid = $(this).data('uuid');

                return settings;
            },
            onSuccess: function(response) {
                Swal.fire({
                    icon: 'success',
                    title: 'Permintaan Berhasil',
                    text: 'Sedang mengalihkan...',
                    showCloseButton: false,
                    showCancelButton: false,
                    showConfirmButton: false,
                    allowOutsideClick: false,
                    allowEscapeKey: false,
                });

                window.location.href = response.permalink_update;
            }
        });

        // ...
        // Delete Guide
        // And also delete GuideRevision objects
        // ...
        $(document).on('click', '#delete-guide', function(event) {
            Swal.fire({
                title: 'Konfirmasi',
                text: "Tindakan ini tidak bisa dikembalikan",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Hapus',
                cancelButtonText: 'Batal',
                reverseButtons: true
            }).then((result) => {
                if (result.value) {
                    $(this).api({
                        method  : 'DELETE',
                        action  : 'guides delete',
                        on      : 'now',
                        beforeXHR: function(xhr) {
                            xhr.setRequestHeader ('X-CSRFToken', Cookies.get('csrftoken'));
                            return xhr;
                        },
                        onSuccess: function(response) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Terhapus!',
                                text: 'Sedang mengalihkan...',
                                showCloseButton: false,
                                showCancelButton: false,
                                showConfirmButton: false,
                                allowOutsideClick: false,
                                allowEscapeKey: false,
                            });

                            window.location.reload();
                        }
                    });
                } else if (
                    /* Read more about handling dismissals below */
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    // Cancel...
                }
            });
        });
    </script>
{% endblock %}
