{% extends 'templates/base.html' %}
{% load static %}

{% block head %}
<title>{{ title }}</title>
{% endblock %}

{% block content %}
    <div class="container main-content d-flex pt-0">
        <div class="docs-nav pr-4 align-self-stretch position-relative">
            <div class="tools d-flex w-100 align-items-center">
                {% if guide_obj.creator.id == person_pk %}
                    <button type="button" class="btn btn-info btn-block pl-4 pr-4" data-toggle="modal" data-target="#modalAddChapter">
                        Tambah Bab
                    </button>
                {% else %}
                    <button type="button" class="btn btn-info btn-block pl-4 pr-4" data-toggle="modal" data-target="#modalAddChapter">
                        Tampilkan Semua
                    </button>
                {% endif %}
            </div>

            <div class="chapter-wrap h-100">
                <div class="chapter-list pr-3 pb-3 pt-2"></div>
            </div>
        </div> <!-- /.docs-nav -->

        <div class="docs-content flex-grow-1">
            EF
        </div> <!-- /.docs-content -->
    </div> <!-- /.main content -->

    {% if guide_obj.creator.id == person_pk %}
        <div class="modal fade" id="modalAddChapter" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Tambah Bab</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <form class="form-chapter w-100">
                            <div class="form-group">
                                <label for="label">Label</label>
                                <input type="text" id="label" class="form-control" name="label" required>
                            </div>

                            <div class="form-group">
                                <label for="status">Status</label>

                                {% for item in status_choices %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="status" id="status_{{ item.0 }}" value="{{ item.0 }}" required>
                                        <label class="form-check-label" for="status_{{ item.0 }}">
                                            {{ item.1 }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>

                            <div class="form-group">
                                <label for="description">
                                    Keterangan <span class="small text-muted font-weight-normal">(tidak wajib)</span>
                                </label>

                                <textarea id="description" class="form-control" name="description" rows="3" placeholder="Isi sorotan, ringkas, padat dan jelas"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="changelog">Changelog</label>
                                <textarea id="changelog" class="form-control" name="changelog" rows="3" placeholder="Catatan pembaruan" required></textarea>
                            </div>

                            <input type="hidden" name="guide" value="{{ guide_obj.id }}">

                            <div class="mt-4 d-flex w-100 border-top pt-4">
                                <button type="button" class="btn btn-secondary mr-auto pl-4 pr-4" data-dismiss="modal">Batal</button>

                                <button type="submit" class="btn btn-info pl-4 pr-4 ml-auto d-flex align-items-center">
                                    <div class="spinner spinner-border spinner-border-sm mr-2 d-none" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>

                                    Simpan
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div> <!-- /.modal add chapter -->
    {% endif %}
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'vendors/jquery-sticky/jquery.sticky-sidebar.min.js' %}"></script>

    {% if guide_obj.creator.id == person_pk %}
        <script type="text/javascript">
            $(document).on('submit', '.form-chapter', function(event) {
                event.preventDefault();

                var formValuesObj = getFormValues($(this));
                var saveValuesObj = {};

                $.each(formValuesObj, function(i, v) {
                    saveValuesObj[i] = v.value;
                });

                submitChapterHandler($(this), saveValuesObj);

                $(this).find('button').prop('disabled', true);
                $(this).find('button').find('.spinner').removeClass('d-none');
            });

            // ...
            // SUBMIT CHAPTER HANDLER
            // ...
            function submitChapterHandler($form = null, $data) {
                $.ajax({
                    method: "POST",
                    url: '/api/beacon/chapters/',
                    headers: { 'X-CSRFToken': Cookies.get('csrftoken') },
                    xhrFields: { withCredentials: true },
                    data: {
                        ...$data
                    },
                    success: function (response) {
                        var item = `<div id="item_${response.id}" class="chapter-group" data-uuid="${response.uuid}">
                            <h3 class="header">
                                <a href="${response.permalink}" class="text-dark">
                                    ${response.label}
                                </a>
                            </h3>
                        </div>`;

                        $('.chapter-list').append(item);
                        $('#modalAddChapter').modal('hide');
                        $form[0].reset();

                        $('.chapter-wrap').animate({
                            scrollTop: $('#item_' + response.id).offset().top
                        }, 0);
                    },
                    error: function (error) {
                        if (error && error.responseJSON) {
                            var errorJSON = error.responseJSON,
                                errorMessage = [];

                            $.each(errorJSON, function (index, item) {
                                var label = '<span class="text-capitalize font-weight-bold text-danger">' + index + '</span>: ';

                                if (Array.isArray(item)) {
                                    errorMessage.push(label + item.join(' '));
                                } else {
                                    errorMessage.push(label + item);
                                }
                            });

                            if (errorMessage.length == 0) errorMessage.push('Terjadi kesalahan. Coba lagi.');

                            // Show error
                            if (errorMessage) {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Oops...',
                                    html: '<div class="text-center">' + errorMessage.join('<br /><br />') + '</div>',
                                });
                            }
                        }
                    },
                    complete: function(xhr, status) {
                        $form.find('button').prop('disabled', false);
                        $form.find('button').find('.spinner').addClass('d-none');
                    }
                });
            }
        </script>
    {% endif %}

    <script type="text/javascript">
        var chapterObjs = $.ajax('/api/beacon/chapters/?guide_uuid={{ guide_obj.uuid }}');
        var explainObjs = $.ajax('/api/beacon/explains/?guide_uuid={{ guide_obj.uuid }}');

        $.when(chapterObjs, explainObjs).done(function(chapterRes, explainRes) {
            var combineChapterExplain = [],
                chapterItem = '',
                chapters = chapterRes[0],
                explains = explainRes[0];
    
            $.each(chapters, function(index, value) {
                var explainFiltered = explains.filter(function(x) {
                    return x.chapter_uuid === value.uuid;
                });

                value.explains = explainFiltered;
                combineChapterExplain.push(value);
            });

            $.each(combineChapterExplain, function(index, value) {
                var explainsList = '',
                    explainItem = '',
                    explains = value.explains,
                    uuid = value.published ? value.published.uuid : value.draft.uuid,
                    has_explain = explains.length > 0;
                
                if (has_explain) {
                    $.each(explains, function(ei, ev) {
                        var rev_uuid = ev.published ? ev.published.uuid : ev.draft.uuid;

                        explainItem += `<li id="item_${ev.id}" data-uuid="${rev_uuid}">
                            <a href="${ev.permalink}" class="text-dark">
                                ${ev.published ? ev.published.label : ev.label}
                            </a>
                        </li>`;
                    });

                    explainsList = `<ul class="list-unstyled pl-3 pt-1 explain-list">${explainItem}</ul>`;
                }

                chapterItem += `<div id="item_${value.id}" class="chapter-group" data-uuid="${uuid}">
                    <h3 class="header">
                        <a href="${value.permalink}" class="text-dark">
                            ${value.published ? value.published.label : value.draft.label}
                        </a>
                    </h3>

                    ${explainsList}
                </div>`;
            });

            if (chapterItem) $('.chapter-list').html(chapterItem);
        });
    </script>
{% endblock %}