{% extends 'templates/base.html' %}
{% load static %}

{% block head %}
<title>{{ title }}</title>
{% endblock %}

{% block content %}
    <div class="container ui main-content">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                <h1 class="mb-3">
                    <span class="text-muted border-bottom font-weight-light">Rev. {{ revision.version }}: </span>
                    {{ revision.label }}
                </h1>
                
                {% if revision.status == 'draft' %}

                    <form class="ui form mb-4 pb-4" data-uuid="{{ revision.uuid }}">
                        <div class="field">
                            <label>Nama Panduan</label>

                            <div class="ui left icon input">
                                <i class="book icon"></i>
                                <input name="label" type="text" value="{{ revision.label }}" required>
                            </div>
                        </div>

                        <div class="field">
                            <label>Keterangan</label>

                            <div class="ui input">
                                <textarea name="description" required>{{ revision.description }}</textarea>
                            </div>
                        </div>

                        {% if revision.status != 'published' and revision.status != 'archive' %}
                            <div class="grouped fields">
                                <label>Status</label>

                                <div class="row m-0">
                                    {% for item in status_choice %}
                                        <div class="field col-12 col-sm-6">
                                            <div class="ui radio checkbox">
                                                <input type="radio" name="status" value="{{ item.0 }}" required
                                                {% if revision.status == item.0 %}checked{% endif %}>
                                                <label>{{ item.1 }}</label>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}

                        <div class="field">
                            <label>Changelog</label>

                            <div class="ui input">
                                <textarea name="changelog" rows="3" required>{% if revision.changelog %}{{ revision.changelog }}{% endif %}</textarea>
                            </div>
                        </div>

                        <div class="ui error message"></div>

                        <div class="ui primary button submit mr-auto" data-uuid="{{ revision.uuid }}">
                            <i class="check icon"></i>
                            Submit
                        </div>
                    </form>

                {% else %}

                    <div class="ui icon message warning">
                        <i class="exclamation triangle icon"></i>

                        <div class="content">
                            <div class="header">
                                Tindakan ditolak
                            </div>

                            <p>Konten yang telah ter-publikasi tidak dapat diperbarui.</p>
                        </div>
                    </div>
                
                {% endif %}
            </div>
        </div>
    </div> <!-- /.container -->
{% endblock %}

{% block js %}
    
{% endblock %}
