{% extends 'templates/base.html' %}
{% load static %}

{% block head %}
    <title>{{ title }}</title>
{% endblock %}

{% block content %}
    <div class="container main-content">
        <div class="row justify-content-center pt-4">
            <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-7">
                <h1 class="mb-3">
                    Panduan dalam kategori <strong>{{ category_obj.label }}</strong>
                </h1>
        
                <ul class="list-unstyled">
                    {% for item in guide_objs %}
                        <li class="media mb-2">
                            <div class="media-body">
                                <div class="d-block">
                                    <a class="header" href="{% url 'guide_detail' item.uuid %}">
                                        <strong>
                                            {% if item.published_label %}
                                                {{ item.published_label | safe }}
                                            {% elif item.draft_label %}
                                                {{ item.draft_label | safe }}
                                            {% else %}
                                                {{ item.label | safe }}
                                            {% endif %}
                                        </strong>
                                    </a>
                                </div>

                                <div class="text-muted">
                                    <span class="item">
                                        Rev.
                                        {% if item.published_version %}
                                            {{ item.published_version }}
                                        {% elif item.draft_version %}
                                            {{ item.draft_version }}
                                        {% else %}
                                            {{ item.version }}
                                        {% endif %}
                                    </span>

                                    <span class="item ml-2">
                                        diperbarui
                                        {% if item.published_date_updated %}
                                            {{ item.published_date_updated }}
                                        {% elif item.draft_date_updated %}
                                            {{ item.draft_date_updated }}
                                        {% else %}
                                            {{ item.date_updated }}
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>

                {% if not guide_objs %}
                    <div class="alert alert-warning">
                        <p>Belum ada panduan dalam kategori {{ category_obj.label }}. Bantu programer lain dengan kontribusi Anda.</p>
                        <a href="{% url 'guide_initial' %}" class="btn btn-warning btn-sm pl-4 pr-4">Mulai Panduan</a>
                    </div>
                {% endif %}
            </div> <!-- /.col -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
{% endblock %}

{% block js %}

{% endblock %}