{% extends 'templates/base.html' %}
{% load static %}

{% block head %}
<title>{{ title }}</title>
{% endblock %}

{% block content %}
    <div class="container ui">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                <h1 class="mt-4 mb-3">Lengkapi Profil</h1>
            
                <form class="ui form">
                    <div id="attributes">
                        <div class="ui active centered inline loader"></div>
                    </div>

                    <div class="d-flex w-100 align-items-center mt-4">
                        <div class="ui primary button submit mr-auto">
                            <i class="save icon"></i>
                            Simpan
                        </div>
                    </div> <!-- /.flex -->
                </form>
            </div> <!-- /.col -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/form.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/input.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/label.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/loader.min.css' %}">
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'vendors/semantic/components/form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/sweetalert2/dist/sweetalert2.all.min.js' %}"></script>

    <!-- jQuery File Upload -->
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script src="{% static 'vendors/file-upload/js/vendor/load-image.all.min.js' %}"></script>
    <!-- The Canvas to Blob plugin is included for image resizing functionality -->
    <script src="{% static 'vendors/file-upload/js/vendor/canvas-to-blob.min.js' %}"></script>
    <!-- Bootstrap JS is not required, but included for the responsive demo navigation -->

    <!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
    <script type="text/javascript" src="{% static 'vendors/file-upload/js/vendor/jquery.ui.widget.js' %}"></script>
    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script type="text/javascript" src="{% static 'vendors/file-upload/js/jquery.iframe-transport.js' %}"></script>
    <!-- The basic File Upload plugin -->
    <script type="text/javascript" src="{% static 'vendors/file-upload/js/jquery.fileupload.js' %}"></script>
    <!-- The File Upload processing plugin -->
    <script type="text/javascript" src="{% static 'vendors/file-upload/js/jquery.fileupload-process.js' %}"></script>
    <!-- The File Upload image preview & resize plugin -->
    <script type="text/javascript" src="{% static 'vendors/file-upload/js/jquery.fileupload-image.js' %}"></script>
    <!-- The File Upload validation plugin -->
    <script type="text/javascript" src="{% static 'vendors/file-upload/js/jquery.fileupload-validate.js' %}"></script>
    <!-- The File Upload user interface plugin -->

    <script type="text/javascript">
        // ...
        // DEFINED
        // ...
        var attributeItems = [];
        const attributeElement = $('#attributes');
        const params = {
            'identifiers': 'job,address',
            'xhrFields': {
                withCredentials: true
            }
        };

        // TEXT ELEMENT
        function textElement(data) {
            var value = (data.value.object ? data.value.object : ''),
                field_type = data.field_type,
                is_required = data.is_required,
                identifier = data.identifier,
                label = data.label;

            if (field_type === 'text') {
                return '<div class="field">' +
                    '<label>' + label + '</label>' +
                    '<input name="' + identifier + '" type="text" ' + (is_required ? 'required' : '') + ' value="' + value + '">' +
                '</div>';
            }

            if (field_type === 'richtext') {
                return '<div class="field">' +
                    '<label>' + label + '</label>' +
                    '<textarea name="' + identifier + '" ' + (is_required ? 'required' : '') + '>' + value + '</textarea>';
                '</div>';
            }
        }

        // ...
        // ELEMENT HANDLER
        // ...
        function attributesHandler(data) {
            // Exclude image and file object
            var filteredFields = data.filter(function(x) {
                return x.field_type != 'image' && x.field_type != 'file';
            });

            $.each(filteredFields, function(index, value) {
                var htmlItem;

                // TEXT FIELD
                if (value.field_type === 'text' || value.field_type === 'richtext') htmlItem = textElement(value);

                if (htmlItem) attributeItems.push(htmlItem);
            });

            // Add more fields
            var fullName = '<div class="field">' +
                '<label>Nama Lengkap</label>' +
                '<input name="first_name" type="text" value="{{ user.first_name }}">' +
            '</div>';
            
            attributeItems.unshift(fullName);

            // Inject to wrapper and show it!
            attributeElement.html(attributeItems.join(''));

            // Create form validation
            formHandler(filteredFields);
        }

        // ...
        // FORM HANDLER
        // ...
        function formHandler(data) {
            var fields = {};
            var rules = [];
    
            $.each(data, function(index, item) {
                var identifier = item.identifier,
                    is_required = item.is_required;
 
                fields[identifier] = {
                    'identifier': identifier,
                    'rules': [],
                };

                if (is_required === true) {
                    fields[identifier].rules.push({
                        type : 'empty',
                        prompt : 'Tidak boleh kosong'
                    });
                } 
            });

            $('.form').form({
                on: 'blur',
                inline : true,
                fields: fields,
                onSuccess: function(event, fields) {
                    // Prevent default form submit!
                    // We use REST API for handle login.
                    event.preventDefault();

                    $(event.target).addClass('loading');
                    saveAttribute(event.target, fields);
                }
            });
        }

        // ...
        // ATTRIBUTES REQUEST
        /// ...
        async function loadAttributes(params) {
            await $.get('/api/person/attributes/', params, function(data) {
                attributesHandler(data);
            }).fail(function() {
               
            });
        }

        loadAttributes(params);

        // ...
        // SAVE ATTRIBUTES UPDATE
        // ...
        function saveAttribute($element=null, $data) {
            $.ajax({
                method: 'PUT',
                url: '/api/person/attributes/update/',
                headers: {'X-CSRFToken': Cookies.get('csrftoken')},
                xhrFields: {withCredentials: true},
                data: {
                    ...$data,
                    csrfmiddlewaretoken: Cookies.get('csrftoken'),
                },
                success: function(response) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Sukses',
                        text: 'Profil berhasil diperbarui.',
                    });

                    // Basic profile save
                    saveBasicProfile($data);
                },
                error: function(error) {
                    if (error && error.responseJSON) {
                        var errorMessage = 'Terjadi kesalahan. Coba lagi.',
                            usernameError = error.responseJSON.username,
                            passwordError = error.responseJSON.password;
                            notFoundError = error.responseJSON.detail;

                        // Username
                        if (usernameError) errorMessage = usernameError;

                        // Password
                        if (passwordError) errorMessage = passwordError.join('');

                        // Account not found
                        if (notFoundError) errorMessage = notFoundError;

                        // Show error
                        if (errorMessage) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: errorMessage
                            });
                        }
                    }
                },
                complete: function(xhr, status) {
                    $($element).removeClass('loading');
                }
            });
        }

        // ...
        // UPDATE BASIC PROFILE
        // ...
        function saveBasicProfile($data) {
            $.ajax({
                method: 'PATCH',
                url: '/api/person/persons/{{ user.person.uuid }}/',
                headers: {'X-CSRFToken': Cookies.get('csrftoken')},
                xhrFields: {withCredentials: true},
                data: {
                    ...$data,
                    csrfmiddlewaretoken: Cookies.get('csrftoken'),
                }
            });
        }
    </script>
{% endblock %}