{% extends 'templates/base.html' %}
{% load static %}

{% block head %}
<title>Mendaftar</title>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                <div class="card mt-4">
                    <div class="card-body">
                        <h1 class="header">Buat Sebuah Akun</h1>

                        <form class="ui form">
                            <div class="field">
                                <label for="username">Nama Pengguna</label>

                                <div class="ui left icon input">
                                    <i class="user icon"></i>
                                    <input type="text" name="username" required />
                                </div>
                            </div> <!-- /.form group -->

                            <div class="field">
                                <label for="email">Email Aktif</label>

                                <div class="ui left icon input">
                                    <i class="envelope icon"></i>
                                    <input type="email" name="email" required />
                                </div>
                            </div> <!-- /.form group -->

                            <div class="field">
                                <label for="password1">Kata Sandi</label>

                                <div class="ui left icon input">
                                    <i class="lock alternate icon"></i>
                                    <input type="password" name="password1" autocomplete="false" required />
                                </div>
                            </div> <!-- /.form group -->

                            <div class="field">
                                <label for="password2">Ulangi Kata Sandi</label>

                                <div class="ui left icon input">
                                    <i class="lock alternate icon"></i>
                                    <input type="password" name="password2" autocomplete="false" required />
                                </div>
                            </div> <!-- /.form group -->

                            <div class="d-flex w-100 align-items-center pt-2">
                                <div class="ui primary button submit mr-auto">
                                    <i class="check icon"></i>
                                    Submit
                                </div>

                                <a href="{% url 'login' %}">Punya akun? Masuk</a>
                            </div> <!-- /.flex -->
                        </form>
                    </div> <!-- /.card body -->
                </div> <!-- /.card -->
            </div> <!-- /.col -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/form.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/input.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/label.min.css' %}">
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'vendors/semantic/components/form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/sweetalert2/dist/sweetalert2.all.min.js' %}"></script>

    <script type="text/javascript">
        // ...
        // FORM HANDLER
        // ...
        $('.form').form({
            on: 'blur',
            inline : true,
            fields: {
                username: {
                    identifier: 'username',
                    rules: [
                        {
                            type   : 'empty',
                            prompt : 'Tidak boleh kosong'
                        },
                        {
                            type   : 'regExp[/^[a-zA-Z0-9_]{4,16}$/]',
                            prompt : 'Hanya huruf, angka, min. 4 karakter'
                        },
                        {
                            type   : 'minLength[4]',
                            prompt : 'Minimal 4 karakter'
                        }
                    ]
                },
                email: {
                    identifier: 'email',
                    rules: [
                        {
                            type   : 'empty',
                            prompt : 'Tidak boleh kosong'
                        },
                        {
                            type   : 'email',
                            prompt : '{name} tidak valid'
                        }
                    ]
                },
                password1: {
                    identifier: 'password1',
                    rules: [
                        {
                            type   : 'empty',
                            prompt : 'Tidak boleh kosong'
                        },
                        {
                            type   : 'minLength[6]',
                            prompt : 'Minimal 6 karakter'
                        }
                    ]
                },
                password2: {
                    identifier  : 'password2',
                    rules: [
                        {
                            type   : 'empty',
                            prompt : 'Tidak boleh kosong'
                        },
                        {
                            type   : 'match[password1]',
                            prompt : 'Kata sandi tidak sama'
                        }
                    ]
                },
            },
            onSuccess: function(event, fields) {
                // Prevent default form submit!
                // We use REST API for handle login.
                event.preventDefault();

                $(event.target).addClass('loading');
                registerHandler(event.target, fields);
            }
        });

        // ...
        // REGISTER HANDLER
        // ...
        function registerHandler($element=null, $data) {
            // Add password
            $data.password = $data.password2;

            $.ajax({
                method: 'POST',
                url: '/api/person/persons/',
                headers: {'X-CSRFToken': Cookies.get('csrftoken')},
                xhrFields: {withCredentials: true},
                data: {
                    ...$data,
                    csrfmiddlewaretoken: Cookies.get('csrftoken'),
                },
                success: function(response) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Berhasil Mendaftar',
                        text: 'Sedang mengalihkan...',
                        showCloseButton: false,
                        showCancelButton: false,
                        showConfirmButton: false,
                        allowOutsideClick: false,
                        allowEscapeKey: false,
                    });
                    
                    // After register, make user logged in
                    var loginData = {
                        'username': $data.username,
                        'password': $data.password,
                    }

                    $.post('/api/person/token/', loginData, function(data) {
                        var auth_code = data.auth_code;
                        var token_data = {
                            [auth_code]: data[auth_code],
                        }

                        // Set cookie token
                        Cookies.set(auth_code, JSON.stringify(token_data));
                        window.location.replace('/person/validation/');
                    });
                },
                error: function(error) {
                    $($element).removeClass('loading');

                    if (error && error.responseJSON) {
                        var errorJSON = error.responseJSON,
                            errorMessage = [];

                        $.each(errorJSON, function(index, item) {
                            var label = '<span class="text-capitalize font-weight-bold text-danger">' + index + '</span>: ';
                            
                            if (Array.isArray(item)) {
                                errorMessage.push(label + item.join(' '));
                            } else {
                                errorMessage.push(label + item);
                            }
                        });

                        if (errorMessage.length == 0) errorMessage.push('Terjadi kesalahan. Coba lagi.');

                        // Show error
                        if (errorMessage) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                html: '<div class="text-center">' + errorMessage.join('<br /><br />') + '</div>',
                            });
                        }
                    }
                },
            });
        }
    </script>
{% endblock %}