{% extends 'templates/base.html' %}
{% load static %}

{% block head %}
<title>{{ title }}</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-7 col-lg-5">
                <div class="card mt-4">
                    <div class="card-body">
                        <h1 class="mt-4 mb-3">Validasi Akun</h1>
                        
                        <div class="ui icon message mb-4">
                            <i class="flag icon"></i>
                            <div class="content">
                                <div class="header">
                                    Apa ini?
                                </div>

                                <p>Kami ingin mengetahui bahwa Anda bukan robot dan <i>spammer</i>.</p>
                            </div>
                        </div>

                        <div class="ui form">
                            <div id="validations"></div>
                        </div>

                        <div class="w-100 mt-4">
                            <p class="font-weight-bold">Legenda:</p>

                            <div class="d-flex w-100 align-items-center">
                                <button class="ui icon button mini">
                                    <i class="check icon"></i>
                                </button>

                                <span class="mr-auto pl-2">Belum Divalidasi</span>
                            </div>

                            <div class="d-flex w-100 align-items-center mt-2">
                                <button class="ui icon button teal mini" disabled>
                                    <i class="check circle icon"></i>
                                </button>

                                <span class="mr-auto pl-2">Sudah Tervalidasi</span>
                            </div>
                        </div>
                    </div> <!-- /.card body -->
                </div> <!-- /.card -->
            </div> <!-- /.col -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/form.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/input.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/label.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/message.min.css' %}">
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'vendors/semantic/components/form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/sweetalert2/dist/sweetalert2.all.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/js/functions.js' %}"></script>

    <script type="text/javascript">
        var validationItems = [];
        const validationElement = $('#validations');
        const params = {
            'identifiers': 'email,phone'
        };

        // INPUT ELEMENT
        function inputElement(data) {
            var value = (data.value.object ? data.value.object : ''),
                is_required = data.is_required,
                is_verified = data.value.is_verified,
                identifier = data.identifier,
                label = data.label,
                placeholder = (data.placeholder ? data.placeholder : ''),
                field_type = data.field_type;

            return '<div class="field validation-item">' +
                '<label for="' + identifier + '">' + label + '</label>' +
                '<div class="ui action input">' +
                    '<input name="' + identifier + '" type="' + field_type + '" ' + (is_required ? 'required' : '') + ' value="' + value + '" placeholder="' + placeholder + '">' +
                    '<button id="requestValidation" class="ui icon button ' + (is_verified ? 'teal' : '' ) + '" ' + (is_verified ? 'disabled="true"' : '') + '" data-identifier="' + identifier + '">' +
                        (is_verified ? '<i class="check circle icon"></i>' : '<i class="check icon"></i>') +
                    '</button>' +
                '</div>' +
            '</div>';
        }

        // ...
        // ELEMENT HANDLER
        // ...
        function validationsHandler(data) {
            var validationDatas = $(document.body).data('validationDatas');

            // Exclude image and file object
            var filteredFields = validationDatas.filter(function(x) {
                return x.field_type != 'image' && x.field_type != 'file';
            });

            $.each(filteredFields, function(index, item) {
                var htmlItem;

                // INPUT FIELD
                if (item.field_type !== 'textarea') htmlItem = inputElement(item);
                if (htmlItem) validationItems.push(htmlItem);
            });

            // Inject to wrapper and show it!
            validationElement.html(validationItems.join(''));
        }

        // ...
        // LOAD VALIDATIONS
        // ...
        async function loadValidations(params) {
            await $.get('/api/person/validations/', params, function(data) {
                // Set data to global
                $(document.body).data('validationDatas', data);
                
                // Show validation form
                validationsHandler(data);
            })
            .fail(function(e) {
                console.log(e);
            });
        }

        loadValidations(params);

        // ...
        // Request validation
        // System will send SMS or email with validation code
        // ...
        $(document).on('click', '#requestValidation', function(e) {
            e.preventDefault();
            var identifier = $(this).data('identifier'),
                new_value = $('[name="' + identifier + '"').val(),
                validationDatas = $(document.body).data('validationDatas'),
                index = validationDatas.findIndex(x => x.identifier === identifier),
                validationItem = validationDatas[index];

            // Append new param
            validationItem.new_value = new_value;

            // Perfom request secure code
            if (new_value) {
                requestValidation($(this), validationItem);

                // Update data global
                validationDatas[index] = validationItem;
                $(document.body).data('validationDatas', validationDatas);
            }

            if (!new_value) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: validationItem.label + ' tidak boleh kosong.'
                });
            }
        });

        function requestValidation($this, data) {
            var params = {
                'action': 'request_secure_code',
                'new_value': data.new_value,
                'identifier': data.identifier,
                'csrfmiddlewaretoken': Cookies.get('csrftoken'),
            }

            $.ajax({
                method: 'POST',
                url: '/api/person/secures/',
                data: params,
                headers: {'X-CSRFToken': Cookies.get('csrftoken')},
                xhrFields: {withCredentials: true},
                beforeSend: function(xhr) {
                    $this.addClass('loading');
                },
                success: function(response) {
                    // Reset cookies
                    Cookies.remove('secure_hash');
                    Cookies.remove('secure_hash', {path: ''});

                    // Then set again with new value
                    Cookies.set('secure_hash', response.secure_hash);

                    // Run validation
                    confirmSecureCode(data);
                },
                error: function(error) {
                    
                },
                complete: function(xhr, status) {
                    $this.removeClass('loading');
                }
            });
        }

        // ...
        // Confirm secure code
        // ...
        function confirmSecureCode(data) {
            Swal.fire({
                title: 'Kode Otentikasi',
                text: data.instruction,
                html:
                    data.instruction +
                    'Tidak menerima kode otentikasi?<br /><a href="#" id="resend-secure-code" data-identifier="' + data.identifier + '"><b>Kirim ulang</b></a>',
                input: 'text',
                inputAttributes: {
                    autocapitalize: 'on',
                    placeholder: 'Kode Otentikasi',
                },
                showCancelButton: true,
                confirmButtonText: 'Validasi',
                showLoaderOnConfirm: true,
                allowOutsideClick: false,
                allowEscapeKey: false,
                customClass: {
                    input: 'input-class text-center text-keyup',
                },
                preConfirm: (secureCode) => {
                    if (secureCode) {
                        const params = {
                            'uuid': data.uuid, // validation uuid
                            'secure_code': secureCode,
                            'secure_hash': Cookies.get('secure_hash'),
                            'value': $('input[name="' + data.identifier + '"]').val(),
                        }

                        return fetch('/api/person/validations/' + data.uuid + '/', {
                            method: 'PATCH',
                            cache: 'no-cache',
                            body: JSON.stringify(params),
                            headers: {
                                'X-CSRFToken': Cookies.get('csrftoken'),
                                'Content-Type': 'application/json',
                            }
                        }).then(response => {
                            if (!response.ok) {
                                if (response.status == '406') {
                                    throw new Error('Kode otentikasi salah');
                                }
                                throw new Error(response.statusText)
                            }
                            return response.json()
                        })
                        .catch(error => {
                            Swal.showValidationMessage(error);
                        });
                    }
                }
            }).then((result) => {
                if (result.value) {
                    Swal.fire({
                        title: 'Sukses!',
                        text: 'Validasi ' + data.label + ' Berhasil. Menyegarkan...',
                        icon: 'success',
                        showCloseButton: false,
                        showCancelButton: false,
                        showConfirmButton: false,
                        allowOutsideClick: false,
                        allowEscapeKey: false,
                    });

                    location.reload();
                    Cookies.remove('secure_hash');
                }

                // Cancel
                if (result.dismiss == 'cancel') {
                    var $validationInput = $('[name="' + data.identifier + '"'),
                        is_verified = data.value.is_verified,
                        validationElement = $validationInput.closest('.validation-item');
            
                    $validationInput.val(data.value.object);

                    if (is_verified) {
                        $(validationElement).find('button').prop('disabled', true);
                        $(validationElement).find('button').addClass('teal');
                        $(validationElement).find('.icon').addClass('circle');
                    } else {
                        $(validationElement).find('button').prop('disabled', false);
                        $(validationElement).find('button').removeClass('teal');
                        $(validationElement).find('.icon').removeClass('circle');
                    }
                }
            });
        }

        // ...
        // Send secure code
        // ...
        $(document).on('click', '#resend-secure-code', function(e) {
            e.preventDefault();

            var identifier = $(this).data('identifier'),
                validationDatas = $(document.body).data('validationDatas'),
                index = validationDatas.findIndex(x => x.identifier === identifier),
                validationItem = validationDatas[index];

            requestValidation($(this), validationItem);
        });

        // ...
        // Detect value change
        // ...
        $(document).on('keyup', '.validation-item input', function(e) {
            var keyword = $(e.target).val(),
                identifier = $(e.target).attr('name'),
                validationElement = $(e.target).closest('.validation-item'),
                validationDatas = $(document.body).data('validationDatas'),
                index = validationDatas.findIndex(x => x.identifier === identifier),
                validationItem = validationDatas[index],
                is_verified = validationItem.value.is_verified;

            if (keyword == validationItem.value.object && is_verified) {
                $(validationElement).find('button').prop('disabled', true);
                $(validationElement).find('button').addClass('teal');
                $(validationElement).find('.icon').addClass('circle');
            } else {
                $(validationElement).find('button').prop('disabled', false);
                $(validationElement).find('button').removeClass('teal');
                $(validationElement).find('.icon').removeClass('circle');
            }
        });
    </script>
{% endblock %}