{% extends 'templates/base.html' %}
{% load static %}
{% load guide_tab %}
{% load paginator %}

{% block head %}
<title>{{ title }}</title>
{% endblock %}

{% block content %}
    <div class="container ui main-content dashboard">
        {% guide_tab %}

        <button type="button" id="add-chapter" class="ui button mini mb-3">
            <i class="add circle icon"></i>
            Tambah
        </button>

        {% comment %}
            {% if chapter_objs %}
                <div class="guide-list chapter-list">
                    {% for item in chapter_objs %}
                        <div id="item_{{ item.pk }}" class="ui message" data-uuid="{{ item.uuid }}">
                            <div class="d-flex w-100 align-items-center">
                                <div class="stage text-center font-weight-bold">
                                    {% if item.stage %}
                                        {{ item.stage }}
                                    {% else %}
                                        &mdash;
                                    {% endif %}
                                </div>

                                <div class="pl-3">
                                    <div class="header">
                                        {{ item.chapter_label }}

                                        <div class="ui label">
                                            Ref.
                                            <div class="detail">{{ item.chapter_version }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                {% if paginator %}
                    {% proper_paginate request paginator chapter_objs 2 %}
                {% endif %}
            {% else %}
                <p class="mt-3">Masih kosong</p>
            {% endif %}
        {% endcomment %}

        <div class="guide-list chapter-list"></div>
    </div>

    <div class="ui modal small modal-add-chapter">
        <div class="header">
            Tambah Bab
        </div>

        <div class="content">
            <form class="ui form form-chapter w-100">
                <div class="field">
                    <label>Nama</label>

                    <div class="ui left icon input">
                        <i class="clipboard outline icon"></i>
                        <input name="label" type="text" required>
                    </div>
                </div>

                <div class="grouped fields">
                    <label>Status</label>

                    <div class="row m-0">
                        {% for item in status_choices %}
                            <div class="field col-12 col-sm-6">
                                <div class="ui radio checkbox">
                                    <input type="radio" name="status" value="{{ item.0 }}" required>
                                    <label>{{ item.1 }}</label>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="field">
                    <label>Keterangan <span class="small text-muted font-weight-normal">(tidak wajib)</span></label>

                    <div class="ui input">
                        <textarea name="description" rows="3" placeholder="Isi sorotan, ringkas, padat dan jelas"></textarea>
                    </div>
                </div>

                <div class="field">
                    <label>Changelog</label>

                    <div class="ui input">
                        <textarea name="changelog" rows="3" placeholder="Catatan pembaruan" required></textarea>
                    </div>
                </div>

                <div class="ui error message"></div>
                <input type="hidden" name="guide" value="{{ guide_revision_obj.guide.id }}">

                <div class="mt-4 d-flex w-100">
                    <div id="cancel" class="ui button close mr-auto cancel">Batal</div>

                    <div id="submit-chapter" class="ui button primary submit mr-0">
                        <i class="check icon"></i>
                        Simpan
                    </div>
                </div>
            </form>
        </div>
    </div> <!-- /.modal add chapter -->
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/form.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/input.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/checkbox.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/label.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/loader.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/modal.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/dimmer.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/transition.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/list.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/tab.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/table.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/message.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'vendors/css/dashboard.css' %}">
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'vendors/semantic/components/checkbox.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/semantic/components/form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/semantic/components/modal.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/semantic/components/dimmer.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/semantic/components/transition.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/semantic/components/api.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/semantic/components/tab.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'vendors/js/jquery.serialize-object.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/sweetalert2/dist/sweetalert2.all.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/jquery-ui/jquery-ui.min.js' %}"></script>

    <script type="text/javascript">
        $.fn.api.settings.api = {
            'chapters create'   : '/api/beacon/chapters/',
        };
    
        function loadChapters() {
            $.when(
                $.ajax('/api/beacon/chapters/?guide_uuid={{ guide_revision_uuid }}&person_uuid={{ request.person_uuid }}'),
                $.ajax('/api/beacon/explains/?guide_uuid={{ guide_revision_uuid }}&person_uuid={{ request.person_uuid }}'))
            .done(function(chapterRes, explainRes) {
                var combineChapterExplain = [],
                    chapterItem = '',
                    chapters = chapterRes[0],
                    explains = explainRes[0];
        
                $.each(chapters, function(index, value) {
                    var explainFiltered = explains.filter(function(x) {
                        return x.chapter_uuid === value.uuid;
                    });

                    value.explains = explainFiltered;
                    combineChapterExplain.push(value);
                });

                $.each(combineChapterExplain, function(index, value) {
                    chapterItem += `<div id="item_${value.id}" class="ui message" data-uuid="${value.uuid}">
                        <div class="d-flex w-100 align-items-center">
                            <div class="stage text-center font-weight-bold">
                                ${value.stage ? value.stage : '&mdash;'}
                            </div>

                            <div class="pl-3">
                                <div class="header">
                                    ${value.published ? value.published.label : value.label}

                                    <div class="ui label">
                                        Ref.
                                        <div class="detail">${value.published ? value.published.version : value.draft.version}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>`;
                });

                if (chapterItem) $('.chapter-list').html(chapterItem);
            });
        }

        loadChapters();

        // ...
        // SORTABLE
        // ...
        $sortableElem = $('#sortable');
        $sortable = $sortableElem.sortable({
            axis: 'y',
            containment: 'parent',
            items: '> tbody > tr',
            tolerance: 'pointer',
            cursor: 'move',
            opacity: 0.7,
        });

        $sortable.on('sortupdate', function (event, ui) {
            var data = $(this).sortable('serialize', { key: 'sort' }),
                dataArray = data.split('&'),
                dataClean = [];

            $.each(dataArray, function (index, value) {
                var valueClean = value.replace('sort=', '');
                dataClean.push(valueClean);
            });

            sortStage(dataClean);

            var $stagesElem = $sortableElem.find('.stage');
            $.each($stagesElem, function(key, value) {
                $(value).html(key + 1);
            });
        });

        function sortStage(data) {
            $.ajax({
                method: 'POST',
                url: '/api/beacon/chapters/sort/',
                headers: { 'X-CSRFToken': Cookies.get('csrftoken') },
                xhrFields: { withCredentials: true },
                data: {
                    sortable: data.join(','),
                    csrfmiddlewaretoken: Cookies.get('csrftoken'),
                },
                success: function (response) {

                }
            });
        }

        // ...
        // FORM
        // ...
        function initForm(data = null) {
            $checkbox = $('.checkbox').checkbox();

            $form = $('.form-chapter').form({
                on: 'blur',
                fields: {
                    label: {
                        identifier: 'label',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Nama bab tidak boleh kosong'
                            },
                            {
                                type: 'minLength[4]',
                                prompt: 'Nama bab minimal 4 karakter'
                            }
                        ]
                    },
                    status: {
                        identifier: 'status',
                        rules: [
                            {
                                type: 'checked',
                            }
                        ]
                    },
                    description: {
                        identifier: 'description',
                    },
                    changelog: {
                        identifier: 'changelog',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Changelog tidak boleh kosong'
                            }
                        ]
                    },
                }
            })
            .api({
                method: 'POST',
                action: 'chapters create',
                serializeForm: true,
                beforeXHR: function(xhr) {
                    xhr.setRequestHeader ('X-CSRFToken', Cookies.get('csrftoken'));
                    return xhr;
                },
                onSuccess: function(response) {
                    /*
                    if (response.status === 'published') {
                        window.location.replace(response.permalink);
                    } else {
                        Swal.fire({
                            icon: 'success',
                            title: 'Berhasil',
                            text: 'Pembaruan berjalan sukses!',
                            allowOutsideClick: false,
                            allowEscapeKey: false,
                        });
                    }
                    */
                    console.log(response);

                    var item = `<div id="item_${response.id}" class="ui message" data-uuid="${response.uuid}">
                        <div class="d-flex w-100 align-items-center">
                            <div class="stage text-center font-weight-bold">&mdash;</div>

                            <div class="pl-3"> 
                                <div class="header">
                                    ${response.label}

                                    <div class="ui label">
                                        Ref.
                                        <div class="detail">2</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>`;

                    $('.chapter-list').append(item);
                },
                onFailure: function(response) {
                    var errorMessage = [];

                    $.each(response, function(index, item) {
                        var label = '<span class="text-capitalize font-weight-bold text-danger">' + index + '</span>: ';
                        
                        if (Array.isArray(item)) {
                            errorMessage.push(label + item.join(' '));
                        } else {
                            errorMessage.push(label + item);
                        }
                    });

                    if (errorMessage.length == 0) errorMessage.push('Terjadi kesalahan. Coba lagi.');

                    // Show error
                    if (errorMessage) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            html: '<div class="text-center">' + errorMessage.join('<br /><br />') + '</div>',
                        });
                    }
                }
            });
        }

        $(document).on('click', '#add-chapter', function (event) {
            event.preventDefault();
            $('.modal-add-chapter').modal('show');
        });

        $('.modal-add-chapter').modal({
            autofocus: false,
            closable: false,
            onShow: function() {
                initForm();
            },
            onHide: function($element) {
            
            }
        });

        // ...
        // CLOSE MODAL
        // ...
        $(document).on('click', '#cancel', function(event) {
            event.preventDefault();
            $('.modal').modal('hide');
        });
    </script>
{% endblock %}