{% load static %}
<!doctype html>
<html lang="id">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block head %}{% endblock %}
        
        <link rel="stylesheet" type="text/css" href="{% static 'vendors/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'vendors/css/main.css' %}">

        {% block css %}{% endblock %}
    </head>

    <body>
        <header>
            {% if messages %}
                <div class="alert alert-secondary flash-message position-fixed w-100 pl-0 pr-0 alert-dismissible fade show" role="alert">
                    <div class="container">
                        <ul class="list-unstyled mb-3">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>

                        <button type="button" class="btn btn-outline-secondary pl-3 pr-3 btn-sm" data-dismiss="alert" aria-label="Close">
                            Tutup
                        </button>
                    </div>
                </div>
            {% endif %}

            {% block navbar %}{% endblock %}
            {% include "templates/navbar.html" %}
        </header>

        {% block content_fluid %}{% endblock %}

        <main>
            {% block content %}{% endblock %}
        </main>

        <footer>
            {% block footer %}{% endblock %}
            {% include "templates/footer.html" %}
        </footer>
    
        <script type="text/javascript" src="{% static 'vendors/jquery/jquery-3.4.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'vendors/jquery/jquery-migrate-3.1.0.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'vendors/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'vendors/scripts/js.cookie.js' %}"></script>
        <script type="text/javascript" src="{% static 'vendors/scripts/explain-add.js' %}"></script>
        {% block js %}{% endblock %}
    </body>
</html>