{% extends 'templates/base.html' %}
{% load static %}

{% block head %}
<title>{{ title }}</title>
{% endblock %}

{% block content %}
    <div class="container main-content d-lg-flex d-xl-flex">
        {% include 'templates/general/docnav.html' %}

        <div class="docs-content flex-grow-1">
            {% if explain_obj.creator.id == person_pk %}
                {% include 'templates/explain/detail-editor.html' %}
            {% else %}
                 {% include 'templates/explain/detail-public.html' %}
            {% endif %}
        </div> <!-- /.docs-content -->

        <div class="docs-tools">
        </div> <!-- /.sidebar -->
    </div> <!-- /.main content -->
{% endblock %}

{% block css %}
    {% if guide_obj.creator.id == person_pk %}
        <link rel="stylesheet" type="text/css" href="{% static 'vendors/simplemde/simplemde.min.css' %}">
    {% endif %}
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'vendors/scripts/chapter-list.js' %}"></script>
    
    <script type="text/javascript">
        loadChapter('{{ explain_obj.guide.uuid }}', '{{ explain_uuid }}', '{{ user.person.uuid }}');
    </script>

    {% if explain_obj.creator.id == person_pk %}
        <script type="text/javascript" src="{% static 'vendors/scripts/chapter-add.js' %}"></script>
        <script type="text/javascript" src="{% static 'vendors/scripts/explain-add.js' %}"></script>
        <script type="text/javascript" src="{% static 'vendors/sweetalert2/dist/sweetalert2.all.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'vendors/simplemde/simplemde.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'vendors/scripts/autosize.min.js' %}"></script>

        <script type="text/javascript">
            autosize(document.querySelectorAll('textarea'));
            
            // ...
            // CREATE MDE
            // ...
            var simplemde = new SimpleMDE({
                element: $('.markdown-editor')[0]
            });

            // ...
            // SAVE EXPLAIN
            // ...
            $(document).on('submit', '.form-explain', function(event) {
                event.preventDefault();

                var formValuesObj = getFormValues($(this));
                var saveValuesObj = {};
                var status = $(this).find('button[type=submit]:focus').data('status');

                $.each(formValuesObj, function(i, v) {
                    saveValuesObj[i] = v.value;
                });

                if (status === '{{ PUBLISHED }}') {
                    Swal.fire({
                        title: 'Konfirmasi Penerbitan',
                        text: 'Apakah yakin tindakan ini?',
                        showCancelButton: true,
                        confirmButtonText: 'Konfirmasi',
                        showLoaderOnConfirm: true,
                        allowOutsideClick: false,
                        allowEscapeKey: false,
                    }).then((result) => {
                        if (result.value) {
                            saveValuesObj.status = '{{ PUBLISHED }}';
                            submitHandler($(this), saveValuesObj, true);
                        }
                    });

                    return false;
                }

                if (status === '{{ DRAFT}}') {
                    submitHandler($(this), saveValuesObj, true);
                }

                $(this).find('button').prop('disabled', true);
                $(this).find('button').find('.spinner').removeClass('d-none');
            });

            // ...
            // UPDATE Guide
            // ...
            $(document).on('click', '#update-explain', function(event) {
                event.preventDefault();
   
                var data = {
                    'explain_uuid': $(this).data('uuid'),
                }

                submitHandler($(this), data);
            });

            // ...
            // SUBMIT HANDLER
            // ...
            function submitHandler($form=null, $data, is_patch=false) {
                var method = 'POST',
                    url = '/api/beacon/explains-revisions/';

                // PATCH Action (Update)
                if (is_patch === true) {
                    method = 'PATCH';
                    url = '/api/beacon/explains-revisions/{{ explain_obj.draft_uuid }}/';
                }

                $.ajax({
                    method: method,
                    url: url,
                    headers: {'X-CSRFToken': Cookies.get('csrftoken')},
                    xhrFields: {withCredentials: true},
                    data: {
                        ...$data
                    },
                    success: function(response) {
                        if (is_patch === false) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Pembaruan Berhasil',
                                text: 'Menyiapkan editor...',
                                showCloseButton: false,
                                showCancelButton: false,
                                showConfirmButton: false,
                                allowOutsideClick: false,
                                allowEscapeKey: false,
                            });

                            window.location.reload();
                        }

                        if (is_patch === true) {
                            if (response.status === '{{ PUBLISHED }}') {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Berhasil Diterbitkan',
                                    text: 'Sedang mengalihkan...',
                                    showCloseButton: false,
                                    showCancelButton: false,
                                    showConfirmButton: false,
                                    allowOutsideClick: false,
                                    allowEscapeKey: false,
                                });

                                window.location.reload();
                            }

                            if (response.status === '{{ DRAFT }}') {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Sukses',
                                    text: 'Pembaruan berhasil.',
                                });
                            }
                        }
                    },
                    error: function(error) {
                        if (error && error.responseJSON) {
                            var errorJSON = error.responseJSON,
                                errorMessage = [];

                            $.each(errorJSON, function(index, item) {
                                var label = '<span class="text-capitalize font-weight-bold text-danger">' + index + '</span>: ';
                                
                                if (Array.isArray(item)) {
                                    errorMessage.push(label + item.join(' '));
                                } else {
                                    errorMessage.push(label + item);
                                }
                            });

                            if (errorMessage.length == 0) errorMessage.push('Terjadi kesalahan. Coba lagi.');

                            // Show error
                            if (errorMessage) {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Oops...',
                                    html: '<div class="text-center">' + errorMessage.join('<br /><br />') + '</div>',
                                });
                            }
                        }
                    },
                    complete: function(xhr, status) {
                        $form.find('button').prop('disabled', false);
                        $form.find('button').find('.spinner').addClass('d-none');
                    }
                });
            }

            // ...
            // DELETE EXPLAIN
            // ...
            $(document).on('click', '#delete-explain', function(event) {
                event.preventDefault();

                var uuid = $(this).data('uuid'),
                    redirect = $(this).data('redirect');
 
                Swal.fire({
                    title: 'Konfirmasi Penghapusan',
                    text: 'Apakah yakin tindakan ini? Materi ini akan terhapus selamanya.',
                    showCancelButton: true,
                    confirmButtonText: 'Konfirmasi',
                    showLoaderOnConfirm: true,
                    allowOutsideClick: false,
                    allowEscapeKey: false,
                    customClass: {
                        input: 'input-class text-center text-keyup',
                    },
                    input: 'text',
                    inputAttributes: {
                        autocapitalize: 'off',
                        placeholder: 'Ketik kata "HAPUS"',
                    },
                    inputValidator: (value) => {
                        if (!value || value !== 'HAPUS') {
                            return 'Ketik kata "HAPUS".'
                        }
                    },
                }).then((result) => {
                    if (result.value) {
                        deleteHandler(uuid, 'explains', redirect);
                    }
                });
            });
        </script>
    {% endif %}
{% endblock %}
