<div class="guide-header mb-2">
    <h1>
        {{ guide_revision_obj.label }}
        <small class="font-weight-normal text-muted ml-1"> Ref. {{ guide_revision_obj.version }}</small>
        <span class="ui label ml-1">
            {{ guide_revision_obj.status }}
        </span>
    </h1>

    Dibuat {{ guide_revision_obj.date_created }}
</div>

<div class="mb-4">
    <div class="ui pointing secondary menu">
        <a class="item{% if identifier == 'guide' %} active{% endif %}" data-tab="guide" href="{% url 'dashboard_guide_detail' guide_revision_uuid %}">Detil</a>
        <a class="item{% if identifier == 'chapter' %} active{% endif %}" data-tab="chapter" href="{% url 'dashboard_chapter_list' guide_revision_uuid %}">{{ guide_revision_obj.num_chapter }} Bab</a>
        <a class="item{% if identifier == 'explain' %} active{% endif %}" data-tab="explain" href="{% url 'dashboard_explain_list' guide_revision_uuid %}">{{ guide_revision_obj.num_explain }} Materi</a>
        <a class="item{% if identifier == 'introduction' %} active{% endif %}" data-tab="introduction" href="{% url 'dashboard_guide_introduction' guide_revision_uuid %}">Sorotan</a>
    </div>
</div>