{% extends 'templates/base.html' %}
{% load static %}
{% load sidenav %}

{% block head %}
<title>{{ title }}</title>
{% endblock %}

{% block content %}
    <div class="container main-content d-flex">
        <div id="docs-nav" class="docs-nav pr-4 align-self-stretch">
            <div class="docs-nav__inner">
                <div class="tools d-flex w-100 align-items-center">
                    {% if guide_obj.creator.id == person_pk %}
                        <button type="button" class="btn btn-info btn-block pl-4 pr-4" data-toggle="modal" data-target="#modalAddChapter">
                            Tambah Bab
                        </button>
                    {% else %}
                        <button type="button" class="btn btn-info btn-block pl-4 pr-4" data-toggle="modal" data-target="#modalAddChapter">
                            Tampilkan Semua
                        </button>
                    {% endif %}
                </div>

                <div class="chapter-wrap docs-scroller">
                    <div class="chapter-list pr-3 pb-3 pt-2">
                        <div class="chapter-group">
                            <h3 class="header">
                                <a href="{% url 'guide_detail' chapter_obj.guide.uuid %}" class="text-dark">
                                    Pengantar
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /.docs-nav -->

        <div class="docs-content flex-grow-1">
            <div class="pt-2">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                            aria-controls="home" aria-selected="true">Konsep</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                            aria-controls="profile" aria-selected="false">Terbit</a>
                    </li>
                </ul>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
                </div>

                <h1>{{ chapter_obj.label }}</h1>

                {% if chapter_obj.description %}
                    <p>{{ chapter_obj.description }}</p>
                {% endif %}

                # published: {{ chapter_obj.published_version }}
                # draft: {{ chapter_obj.draft_version }}

                
                <ul>
                {% for key, value in res.items %}
                    <li>
                        {{ key.sort_stage }} {{ key.label }} - {{ key.chapter_draft_version }} - {{ key.chapter_published_version }}
                        
                        <ul>
                            {% for item in value %}
                                <li>{{ item.label }} - {{ item.explain_draft_version }} - {{ item.explain_published_version }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div> <!-- /.docs-content -->
    </div> <!-- /.main content -->
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'vendors/scripts/chapter.js' %}"></script>

    <script type="text/javascript">
        loadChapter('{{ chapter_obj.guide.uuid }}', '{{ chapter_uuid }}');
    </script>
{% endblock %}
