{% extends 'templates/base.html' %}
{% load static %}

{% block head %}
<title>{{ title }}</title>
{% endblock %}

{% block content %}
    <div class="ui container main-content">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                <div class="d-flex w-100 align-items-center">
                    <h1 class="header mr-auto">Masuk ke Akun</h1>

                    <a href="{% url 'register' %}" class="ui basic button tiny grey">
                        Daftar
                    </a>
                </div>

                <form class="ui form">
                    <div class="field">
                        <label>Nama Pengguna</label>

                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input name="username" type="text" required>
                        </div>
                    </div>

                    <div class="field">
                        <label>Kata Sandi</label>

                        <div class="ui left icon input">
                            <i class="lock alternate icon"></i>
                            <input name="password" type="password" autocomplete="false" required>
                        </div>
                    </div>

                    <div class="d-flex w-100 align-items-center">
                        <div class="ui primary button submit mr-auto">
                            <i class="unlock icon"></i>
                            Submit
                        </div>

                        <a href="{% url 'recovery' %}">Lupa akun?</a>
                    </div> <!-- /.flex -->
                </form>
            </div> <!-- /.col -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/form.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/input.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/label.min.css' %}">
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'vendors/semantic/components/form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/sweetalert2/dist/sweetalert2.all.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/js/functions.js' %}"></script>

    <script type="text/javascript">
        var homeUrl = "{% url 'home' %}";
        var nextUrl = getUrlParameter('next');
        var redirectUrl = (nextUrl ? nextUrl : homeUrl);

        // ...
        // SUBMIT HANDLER
        // ...
        function submitHandler($element=null, $context) {
            $.ajax({
                method: 'POST',
                url: '/api/person/token/',
                headers: {'X-CSRFToken': Cookies.get('csrftoken')},
                xhrFields: {withCredentials: true},
                data: {
                    username: $context.username,
                    password: $context.password,
                    csrfmiddlewaretoken: Cookies.get('csrftoken'),
                },
                success: function(response) {
                    var auth_code = response.auth_code;
                    var token_data = {
                        [auth_code]: response[auth_code],
                    }

                    // Set cookie token
                    Cookies.set(auth_code, JSON.stringify(token_data));
                    window.location.replace(redirectUrl);
                },
                error: function(error) {
                    $($element).removeClass('loading');

                    if (error && error.responseJSON) {
                        var errorMessage = 'Terjadi kesalahan. Coba lagi.',
                            usernameError = error.responseJSON.username,
                            passwordError = error.responseJSON.password;
                            notFoundError = error.responseJSON.detail;

                        // Username
                        if (usernameError) errorMessage = usernameError;

                        // Password
                        if (passwordError) errorMessage = passwordError.join('');

                        // Account not found
                        if (notFoundError) errorMessage = notFoundError;

                        // Show error
                        if (errorMessage) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: errorMessage
                            });
                        }
                    }
                },
            });
        }

        // ...
        // FORM VALIDATION
        // ...
        $('.form').form({
            on: 'blur',
            inline : true,
            fields: {
                username: {
                    identifier: 'username',
                    rules: [
                        {
                            type   : 'empty',
                            prompt : 'Tidak boleh kosong'
                        },
                        {
                            type   : 'regExp[/^[a-zA-Z0-9_]{4,16}$/]',
                            prompt : 'Hanya huruf, angka, min. 4 karakter'
                        },
                        {
                            type   : 'minLength[4]',
                            prompt : 'Minimal 4 karakter'
                        }
                    ]
                },
                password: {
                    identifier: 'password',
                    rules: [
                        {
                            type   : 'empty',
                            prompt : 'Tidak boleh kosong'
                        },
                        {
                            type   : 'minLength[6]',
                            prompt : 'Minimal 6 karakter'
                        }
                    ]
                },
            },
            onSuccess: function(event, fields) {
                // Prevent default form submit!
                // We use REST API for handle login.
                event.preventDefault();

                $(event.target).addClass('loading');
                submitHandler(event.target, fields);
            }
        });
    </script>
{% endblock %}