{% extends 'templates/base.html' %}
{% load static %}
{% load guide_tab %}

{% block head %}
<title>{{ title }}</title>
{% endblock %}

{% block content %}
    <div class="container ui main-content">
        {% guide_tab request guide_uuid identifier %}
    </div>
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/form.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/input.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/checkbox.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/label.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/loader.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/modal.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/dimmer.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/transition.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/list.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/semantic/components/tab.min.css' %}">
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'vendors/semantic/components/checkbox.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/semantic/components/form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/semantic/components/modal.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/semantic/components/dimmer.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/semantic/components/transition.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/semantic/components/api.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/semantic/components/tab.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'vendors/sweetalert2/dist/sweetalert2.all.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/jquery-ui/jquery-ui.min.js' %}"></script>

    <script type="text/javascript">
        $('.dynamic.example .menu .item')
        .tab({
            apiSettings: {
                url: '{tab}/'
            },
            evaluateScripts : 'once',
            context : 'parent',
            auto : false,
            path: '/'
        });
    </script>
{% endblock %}